<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Designs</title>
    </head>

    <body>
        <nav>
            <h1><a href = "/"> Interior Design</a></h1>
            <ul>
                <li><a href = "/logout"></a></li>
                <li><a href= "/login"></a></li>
                <li><a href = "/signup" class = "btn">Sign up</a></li>
            </ul>
        </nav>
    </body>